:root{
  --main-green: #087f5b;
  --main-grey: #868e96;
  --main-dark: #2c3031;
  --transition: all ease-in 0.1s;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
}

/* accordion start */
.accordion {
  width: 100%;
  max-width: 700px;
  margin: 100px auto;
}

.item {
  position: relative;
  display: block;
  padding: 24px;
  margin: 12px 0;
  border-radius: 4px;
  box-shadow: 0 0 32px var(--box-shadow);
  transition: var(--transition);
}

.item_head{
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  color: var(--main-grey);
}

.item_head .question {
  color: var(--main-dark);
}

.item_head .icon, 
.item_head svg {
  width: 24px;
  color: var(--main-dark);
  aspect-ratio: 1/1;
}

/* 
An exception instead of float: right;
.item_head .icon, 
.item_head svg {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  
  width: 24px;
  color: var(--main-dark);
  aspect-ratio: 1/1;
} */

.item_body {
  display: none;
  grid-column: 2;
  padding: 30px 0 10px;
}

.item_body p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.item_body ul {
  color: var(--main-grey);
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.item.open {
  border-top: 4px solid var(--main-green);
}
.item.open .item_head svg, 
.item.open .item_head .icon {
  color: var(--main-green);
  transform: rotate(180deg);
}
.open
.item_body {
  display: block;
}
.open .number, 
.open .question {
    color: var(--main-green);
}

@media(max-width: 768px) {
  .accordion{
    padding: 10px 20px;
  }
  .item_head{
    font-size: 18px;
  }
  .item_head .icon, 
  .item_head svg {
    width: 18px;
  }
}
/* accordion end */