/* SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    FONTSIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 72 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #343a40;
}

.carousel {
  width: 950px;
  margin: 100px auto;
  background: #087f5b;
  border-radius: 8px;
  padding: 32px;
  padding-left: 108px;
  display: flex;
  align-items: center;
  gap: 98px;
  position: relative;
}
.testimonial {
}
.testimonial__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial__author {
  font-size: 14px;
  color: #c3fae8;
}
.testimonial__job {
  font-size: 12px;
  color: #c3fae8;
}

.img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.btn-icon {
  width: 24px;
  aspect-ratio: 1/1;
  stroke: #087f5b;
}

.btn__left {
  left: 0;
  transform: translate(-50%, -50%);
}

.btn__right {
  right: 0;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 64px);
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot__fill {
  background-color: #087f5b;
}
